.d-flex {
  display: flex;
}

.v-flex-end {
  display: flex;
  align-items: flex-end;
}

.fantom-card {
  padding: 49px;
  cursor: pointer;
}

.fs-12 {
  font-size: 12px;
}

.has-background-none {
    background: none;
}

.color-black {
  color: #000 !important;
}

.text-glow {/*Definig font could be useful!*/
   color: #FFFFFF;
}
.text-glow:hover {
    text-shadow: 0px 0px 15px rgba(65, 65, 65, 0.8);
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;
    outline: 0 none;
}

.has-background-mint-dark {
    background: #e0e0e0;
}

.has-background-gray-light {
    background: #c4c4c4;
}

.full-height {
    min-height: 100vh;
}

.wrapper {
    padding: 10px;
    overflow: hidden;
}

.margin-auto {
  margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.opacity-3 {
    opacity: 0.3;
}

.menu-list {
  a {
    &:hover {
      background: #fff;
    }
  }
}

.card {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px rgb(171 171 171 / 80%);
    -moz-box-shadow: 0px 0px 20px rgb(171 171 171 / 80%);
    box-shadow: 0px 0px 20px rgb(171 171 171 / 80%);
    .card-content {
        .title {
            color: #ffffff;
        }
        .subtitle {
            color: #ffffff;
        }
    }
}

body {
    .navbar-item {
        img {
            max-height: 3.05rem;
        }
    }
    .content {
        .columns {
            .column {
                .pl-1 {
                    padding-left: 10px;
                }
            }
        }
    }
}
