// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Reset
@import 'reset_styles';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Helpers
@import 'helpers-classes';
@import 'color-classes';

// Components
@import './Component/container';
@import './Component/columns';
@import './Component/body';
@import './Component/card';
@import './Component/custom_list';
@import './Component/top-content';
@import './Component/table';
@import './Component/float-btn';
@import './Component/button';
@import './Component/form';
@import './Component/toast'