.d-flex {
    display: flex;
}

.v-flex-end {
    display: flex;
    align-items: flex-end;
}

.fs-12 {
    font-size: 12px;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.d-flex-around {
    display: flex;
    justify-content: space-around;
}

.d-flex-start {
    display: flex;
    justify-content: flex-start;
}

.d-flex-end {
    display: flex;
    justify-content: flex-end;
}

.d-flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.has-border {
    border: 1px solid black;
}

.has-background-none {
    background: none;
}

.has-background-aqua {
    background: #84baec;
}

.has-background-mint-dark {
    background: #e0e0e0;
}

.has-background-gray-light {
    background: #c4c4c4;
}

.full-height {
    min-height: 93.7vh;
}

.margin-auto {
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.opacity-3 {
    opacity: 0.3;
}

.is-align-center {
    display: flex;
    align-items: center;
}

.is-justify-end {
    display: flex;
    justify-content: flex-end;
}

.is-hoverable {
    cursor: pointer;
}

.float-btn {
//     display: none;
//   position: fixed;
//   right: 20px;
//   bottom: 100px;            
//   color: #fff;
//   background-color: #000;
//   text-align: center;
//   font-size: 30px;
//   padding: 15px;
  }

  .sidebar-button {
      margin-right: 10px;
  }

  .wrapper {
    // margin-right: 10px; /* 1 */
    // margin-left:  10px; /* 1 */
  
    // max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }
  
  .right-line {
      border-right: 1px solid #f2f5f8;
  }

  .full-height {
      min-height: 100%;
  }

  .overflow-scroll {
      overflow: scroll;
  }