.d-flex {
    display: flex;
}

.v-flex-end {
    display: flex;
    align-items: flex-end;
}

.fs-12 {
    font-size: 12px;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.d-flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.has-border {
    border: 1px solid black;
}

.has-background-none {
    background: none;
}

.has-background-aqua {
    background: #84baec;
}

.has-background-mint-dark {
    background: #e0e0e0;
}

.has-background-gray-light {
    background: #c4c4c4;
}

.full-height {
    min-height: 93.7vh;
}

.margin-auto {
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.opacity-3 {
    opacity: 0.3;
}

.is-align-center {
    display: flex;
    align-items: center;
}

.is-justify-end {
    display: flex;
    justify-content: flex-end;
}

.is-hoverable {
    cursor: pointer;
}