.auto-card {
    min-height: auto !important;
    max-height: auto !important;
}
.employee-card {
    width: 600px;
}
.card {
    .card-header {
        display: flex;
        align-items: center;
        padding: 10px;
        .subtitle {
            margin-left: 5px;
        }
    }
    .card-footer {
        display: flex;
        justify-content: flex-end;
    }

    border: none;
    min-height: 250px;
        .card-content {
            .top-content {
                .title {
                    padding: 10px 0;
                }
                border-bottom: 1px solid #f2f5f8;
            }
            .bottom-content {
                p {
                    padding: 5px 0;
                }
            }
            li {
                list-style: none;
                .list-categories {
                    ::before {
                        content: '1';
                    }
                }
            }
        }

    .category-type {
        margin: 0 5px;
    }
}