form {
    .form-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .subtitle {
            margin-left: 5px;
        }
    }
    .form-body {
        span {
            .field {
                padding-bottom: 25px;
                // max-width: 400px;
                margin-right: 10px;
                .control {
                    max-width: 300px;
                }
                .pagination-list {
                    .field {
                        padding-bottom: 0;
                    }
                }
            }
        }
      
    }
}